
.header_top {
position: fixed;
top: 0;
left: 0;
z-index: 3;
width: 100%;
}
button {
transform:translateY(-25%);
}
.wrap_80 {
width: 80%;
margin: 0 auto;
padding-top:5px;
}
.wrapper90 {
width: 90%;
margin: 0 auto;
}
}
#bottone {
border: 1px solid dodgerblue;
color:dodgerblue;
}
.collapse .spostato {
margin-left:10%;
}
.logo {
width:200px;
margin-left:9vw;
}
.logo img {
width: 100%;
transform: translateY(-25%);
}
.dest {
margin-right: 10%;
}
.navbar-default {
background-color: white;
}
.header_bottom {
height: 60vh;
margin-top: 10vh;
background-image:url(../img/jumbo.svg);
background-repeat: no-repeat;
background-size:cover;
}
/* fine header top  */
/* inizio jumbotron */
.testopricipale h1, p {
color: white;
margin-left: 15%;
padding-top: 5%;
margin-top: 5%;
}
.formi {
background-color: white;
padding-left:2%;
padding-right:2%;
border-radius: 2%;
margin-left: 10%;
margin-top:  7%;
height: 53vh;
width: 60%;
}
.login {
color:#2d2d2d;
font-size: 1.6em;
}
#createaccount {
background-color: dodgerblue;
width:100%;
}
.googlelogo {
float: left;
display: inline-block;
width: 30px;
height: 30px;
}
.googlelogo img {
width: 100%;
margin-top: 8px;
}
.sgoogle h4 {
padding-left: 10%;
padding-right: 10%;
padding-top: 1%;
padding-bottom: 1%;
margin-left: 10%;
float: left;
border:1px solid lightgrey;
border-radius:3px;
background-color: white;
font-size: 1.6em;
color: #2d2d2d;
}
.sgoogle a {
text-decoration: none;
}
/* fine parte di jumbotron */
/* .soci */
.box_soci {
width: 100%;
height: 30vh;
background-color: #f8f8f8;
}
.costumer {
background-color: #f8f8f8;
}
.box {
width: 200px;
height: 90px;
margin-left: 20px;
}
.costumer a {
text-decoration: none;
}
/* fine sezione soci o sponsor  */
/* inizio deploy */
.deploy-testo {
margin-top: 4%;
width: 100%;
height: 20vh;
}
.deploy {
height: 65vh;
}
.top  {
  height:30vh;
}
.bottom {
height: 30vh;
}

.menudeploy {
border-left:1px solid grey;
height: 8vh;
margin-top: 0;
margin-bottom:-3vh;
margin-left: 20%;
}
.menudeploy H5 {
font-weight: bold;
}
.menudeploy:nth-last-child(1) {
  height: 4vh;
}
.menudeploy a {
text-decoration:none;
}
.testodeploy h4 {
color: darkblue;
font-size: 2em;
}
.testodeploy h6 {
font-size: 1.3em;
padding-bottom: 2vh;
}

/* FINE SEZIONE DEPLOY */

/* INIZIO SEZIONE DESIGNED FOR DEVELOPER  */
.DESIGNED_FOR_DEV {
width: 100%;
background-color: #F8F8F8;
height: 95VH;
}
.dev h2 {
color: darkblue;
font-size: 3.5em;
font-weight: bold;
}
.dev span {
font-size: 1.7em;
}
.img_dev {
  margin-top: 4vh;
  margin-left: 50%;
  transform: translate(-50%);
width:60vw;
height: 54vh;
}

.img_dep_dev img {
width: 100%;
}
.chevron_left {
color: darkblue;
font-weight: bold;
font-size: 4em;
margin-top: 20vh;
}
.chevron_right {
color: grey;
font-weight: bold;
font-size: 4em;
margin-top: 20vh;
}
.circle i {
color: blue ;
font-size: 1.5em;
margin-left:3px;
}
.circle i:hover {
background:darkblue;
border-radius: 50%;
}
/* fine for developer  */
