/* media uno */
@media screen and (max-width:976px) {
  .navbar-right {
  display: none;
  }
  .logo img {
  float: left;
  }
  .dodici_region h2 {
  font-size: 1.4em;
  }
  .roket h2 {
  font-size: 1.4em;
  }
}
@media screen and (max-width:769px) {
  .jumbo {
  height: 130vh;
  }
  .jumbo_right {
  height: 70vh;
  }
  .testo_main h4 {
  font-size: 1em;
  }
  .box {
  margin-top: 2%;
  }
  .dodici_region h2 {
  font-size: 1.4em;
  }
  .roket h2 {
  font-size: 1.4em;
  }
  .testo .row h3 {
  font-size: 1.5em;
  }

}
